<%= link_to "Back to Racks", brochure_racks_path %>

<div class="page-header">
  <h1><%= link_to @placement.brochure_rack.name, @placement.brochure_rack %></h1>
  <h2><%= link_to @placement.takeaway.decorate.name, @placement.takeaway %></h2>
</div>

<div class="action-panel">
  <%= link_to "Add Stocking", new_placement_stocking_path(@placement) %> |

  <%= form_tag(@placement, method: "get") do %>
    Show
    <%= select_tag :time_frame,
          options_from_collection_for_select(
            @time_frame_list,
            :first,
            :last,
            @time_frame
          ),
          onchange: "this.form.submit()" %>
  <% end %>
</div>

<table class="wide-table tables-borders">
  <tr>
    <th>Date</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <% @stockings.each do |stocking| %>
    <%= content_tag_for(:tr, stocking) do %>
      <td><%= stocking.stocked_on %></td>
      <td><%= stocking.quantity %></td>
      <td>
        <%= link_to edit_stocking_path(stocking), id: "edit_stocking" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to stocking_path(stocking), id: "delete_stocking", method: :delete,
          data:{confirm: "Are you sure?"} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </td>
    <% end %>
  <% end %>
</table>
