<%= link_to "Back to Racks", brochure_racks_path %>

<div class="page-header">
  <h1><%= link_to @placement.brochure_rack.name, @placement.brochure_rack %></h1>
  <h2><%= link_to @placement.takeaway.name, @placement.takeaway %></h2>
</div>

<div class="table-title">
  <%= link_to "Add Stocking", new_placement_stocking_path(@placement) %>
</div>

<table class="wide-table table-borders">
  <tr>
    <th>Date</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <% @placement.stockings.each do |stocking| %>
    <%= content_tag_for(:tr, stocking) do %>
      <td><%= stocking.stocked_on %></td>
      <td><%= stocking.quantity %></td>
      <td><%= link_to "Edit", edit_stocking_path( stocking) %> |
      <%= link_to "Delete", stocking_path(stocking),
       method: :delete, data:{confirm: "Are you sure?"}%></td>
    <% end %>
  <% end %>
</table>
