<h1> <%= @client.name %></h1>

<%= link_to "Edit", edit_client_path(@client) %>

<%= link_to "Delete", @client, method: :delete, data:{confirm: "Are you sure?"} %>

<%= link_to "Add Takeaway", new_takeaway_path(client_id: @client.id) %>

<%= link_to "Assign Takeaway", new_placement_path %>


<% @takeaways.each do |takeaway| %>
  <div class="takeaways">
    <%= link_to takeaway.name, takeaway %>
  </div>

<% end %>
