<script>
$(function() {
  var menu = $('#navigation-menu');
  var menuToggle = $('#js-mobile-menu');
  var signUp = $('.sign-up');

  $(menuToggle).on('click', function(e) {
    e.preventDefault();
    menu.slideToggle(function(){
      if(menu.is(':hidden')) {
        menu.removeAttr('style');
      }
    });
  });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>

<header class="navigation">
  <div class="menu-wrapper side-padded">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "Clients", clients_path %></li>
        <li class="nav-link"><%= link_to "Racks", brochure_racks_path %></li>
      <div class="current-user">
        <li class="nav-link">
          <div class="current-user-inner">
            <% if signed_in? %>
              Welcome <%= current_user.email %>
              <%= link_to 'Sign out', sign_out_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path %>
            <% end %>
          </li>
        </div>
      </div>
      </ul>
    </div>
  </div>
</header>
