<%= link_to "Back to Rack List", brochure_racks_path %>

<div class="page-header">
  <h1><%= @brochure_rack.name %></h1>
<%= @brochure_rack.number_of_rows %> rows |
<%= @brochure_rack.number_of_columns %> columns
<br />
<%= link_to "Edit", edit_brochure_rack_path %> | 
<%= link_to "Delete", @brochure_rack, method: :delete, data:{confirm: "Are you sure?"} %>
</div>
<div class="table-title">
  <%= link_to "Assign Takeaway", new_placement_path(brochure_rack_id: @brochure_rack) %>
</div>

<table class="wide-table table-borders">
  <tr>
    <th>Client</th>
    <th>Takeaway</th>
  </tr>
  <% @brochure_rack.placements.each do |placement| %>
    <%= content_tag_for(:tr, placement)  do %>
      <td><%= link_to placement.takeaway.client.name, placement.takeaway.client %></td>
      <td><%= link_to placement.takeaway.name, placement.takeaway %></td>
    <% end %>
  <% end %>
</table>
